html, body {
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 1200px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url('../images/water0.png');
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url('../images/port.png');
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url('../images/ship.png');
  position: absolute;
}

#sailButton {
  border: 0;
  background-color: aquamarine;
  border-bottom: 3px solid #d8040f;
  color: black;
  font-weight: 800;
  font-family: 'Libre Baskerville', serif;
  padding: 10px 20px;
  position:absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 1200px;;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
}

#sailButton:hover {
  background-color: aquamarine;
  border-bottom:4px solid greenyellow;
  padding-top: 10px;
  border-top: greenyellow;
}

#message {
  padding: 16px;
  font-family: 'Libre Baskerville', serif;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: aquamarine;
  text-align: center;
  color: #000;
  border-bottom:4px solid #d8040f;
  font-size: 25px;
}