html, body {
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 1600px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url('../images/water0.png');
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url('../images/port.png');
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url('../images/ship.png');
  position: absolute;
}

#sailButton {
  border: 0;
  background-color: aquamarine;
  border-bottom: 4px solid #d8040f;
  color: black;
  font-weight: bolder;
  font-family: inherit;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 1600px;;
  font-family: 'Libre Baskerville', serif;
}

#sailButton:hover {
  background-color: aqua;
  border-bottom:4px solid greenyellow;
  padding-top: 10px;
}

#message {
  font-family: inherit;
  border: 1;
  border-bottom: 4px solid rgb(0, 0, 0);
  color: black;
  background-color: rgb(192, 255, 219);
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  left: 0;
  width: 1600px;
  position: absolute;
  bottom: 15;
  left: 0;
  font-size: larger;
}